    <div id="page-wrapper">
        <header id="header" class="navbar-static-top style2">
            <div class="topnav">
                <div class="container">
                   <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="index.php">Home   {{ flag_login }}</a>
                                
                            </li>
                            
                            <li class="menu-item-has-children">
                                <a href="about.php">About Us </a>
                                
                            </li>
                            
                            <li class="menu-item-has-children">
                                <a href="faq.php">FAQs</a>
                                
                            </li>
                            
                          
                            
                            <li class="menu-item-has-children">
                                <a href="contact.php"> Contact Us </a>
                                
                            </li>
                          
                           
                        </ul>
                    </nav>
                    <ul class="quick-menu pull-right clearfix">
                        
                        <li><a href="add-a-listing.php"> Add A Listing </a></li>
                        <li><a href="inbox.php" class="soap-popupbox"> <i class="fa fa-inbox" aria-hidden="true"></i>  Inbox </a></li>
                        <li><a href="sign.php" class="soap-popupbox">LOGIN</a></li>
                        <li class="ribbon">
                            <a href="#"> Profile </a>
                            <ul class="menu mini">
                                
                                <li><a href="inbox.php"> Inbox </a></li>
                                
                                <li><a href="calendar.php"> Calendar </a></li>
                                
                                <li><a href="add-a-listing.php"> Add A Listing </a></li>
                                
                                <li><a href="your-listing.php"> Your Listing </a></li>
                                
                                <li><a href="my-account.php"> Account </a></li>
                                
                                <li><a href="payment.php"> Payments </a></li>
                                
                                <li><a href="contact.php"> Help </a></li>
                                
                                <li><a href="sign.php"> Sign Out </a></li>
                                
                            </ul>
                        </li>
                   
                    </ul>
                </div>
            </div>
        </header>
        
        <a href="index.php">
                            <center><img src="photo/logo.png" class="notional15" ></center>
                        </a>
                              
        <form method="post" role="form" style="padding-left: 15px;">
                            <div class="col-xs-12 notional16">
                                <input type="text" name="where" placeholder="Where are you boating?" class="input-text white-bg where notional18">
                                <i class="fa fa-search notional44" aria-hidden="true"></i>
                            </div>
                            
                        </form>