
<div class="mobile-section" style="background: #00e1c71c;">
	<div class="container">
		<div class="table-wrapper hidden-table-sm">
			<div class="col-md-6 description section table-cell" style="
																				    padding-top: 0px;
																				    margin-top: 0px;
																				">
				<h1 style="
																				    font-size: 30px;
																				">Find and book bo
																				    line-height: 45px;at rentals,<span style="text-transform: capitalize;">
						jet skis, yachts, pontoon boats, and fishing charters.
					</span>
				</h1>
				<div class="review clearfix">
					<div class="five-stars-container pull-left">
						<div class="five-stars transparent-bg" style="width: 100%;"></div>
					</div>
					&nbsp;&nbsp;&nbsp;<label>
						<small class="white-color uppercase" style="
																												    color: black !important;
																												">455 user ratings</small>
					</label>
				</div>
				<br>
				<p style="
																								    font-size: 19px;
																								    margin-bottom: 23px;
																								    text-align: left;
																								    color: #000000a6;
																								">
					For captained experiences and drive-it-yourself rentals, FindBoat is the easiest way to find fun on the water anywhere in the world. Connect directly with boat owners and captains to securely book online.
				</p>

				<a class="button btn-extra blue">
					<i class="soap-icon-apple"></i>
					<span>Download from<br><em>apple store</em>
					</span>
				</a>
				<a class="button btn-extra yellow">
					<i class="soap-icon-googleplay"></i>
					<span>Download from<br><em>google play</em>
					</span>
				</a>
			</div>
			<div class="col-md-6 image-wrapper table-cell hidden-sm" style="
																				    padding-top: 0px;
																				    margin-top: 0px;
																				">
				<img src="catalog/view/boat_data/photo/f2.png" alt="" class="animated" data-animation-type="fadeInUp">
			</div>
		</div>
	</div>
</div>


<div class="global-map-area section parallax" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="description text-center">
			<h1>
				Iconic Destinations
			</h1><br>
		</div>
		<div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
			<ul class="slides image-box style9">
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/images/shortcodes/image-box/style09/1.png" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								BVI Yacht Charters
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/images/shortcodes/image-box/style09/2.png" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								NYC Boat Rentals
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/images/shortcodes/image-box/style09/3.png" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Barcelona Boat Rentals
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/images/shortcodes/image-box/style09/4.png" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Amsterdam Boat Rentals
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/images/shortcodes/image-box/style09/5.png" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Bahamas Yacht Charter
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/images/shortcodes/image-box/style09/6.png" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Newport Beach Boat Rentals
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/images/shortcodes/image-box/style09/1.png" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Sydney Boat Hire
							</h4>
						</div>
					</article>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="section">
	<div class="container">
		<h2>Hot Cruises Deals</h2>
		<div class="image-carousel style2" data-animation="slide" data-item-width="270" data-item-margin="30">
			<ul class="slides image-box style3">
				<li class="box">
					<figure>
						<a class="hover-effect popup-gallery" href="listing.php" title=""><img src="catalog/view/boat_data/images/shortcodes/image-box/style03/1.png" alt="" height="161" width="270"></a>
					</figure>
					<div class="details text-center">
						<h4 class="box-title">Greece</h4>
						<p class="offers-content">
							Rs. 50,000/-
						</p>

						<p class="description">
							18' Party Barge Pontoon for Rent in Cudjoe Key, Florida!!!
						</p>

					</div>
				</li>
				<li class="box">
					<figure>
						<a class="hover-effect popup-gallery" href="listing.php" title=""><img src="catalog/view/boat_data/images/shortcodes/listings/style01/cruise/1.png" alt="" height="161" width="270"></a>
					</figure>
					<div class="details text-center">
						<h4 class="box-title">
							Lake Travis
						</h4>
						<p class="offers-content">
							Rs. 50,000/-
						</p>

						<p class="description">
							18' Party Barge Pontoon for Rent in Cudjoe Key, Florida!!!
						</p>

					</div>
				</li>
				<li class="box">
					<figure>
						<a class="hover-effect popup-gallery" href="listing.php" title=""><img src="catalog/view/boat_data/images/shortcodes/image-box/style03/3.png" alt="" height="161" width="270"></a>
					</figure>
					<div class="details text-center">
						<h4 class="box-title">
							Miami
						</h4>
						<p class="offers-content">
							Rs. 50,000/-
						</p>

						<p class="description">
							18' Party Barge Pontoon for Rent in Cudjoe Key, Florida!!!
						</p>

					</div>
				</li>
				<li class="box">
					<figure>
						<a class="hover-effect popup-gallery" href="listing.php" title=""><img src="catalog/view/boat_data/images/shortcodes/image-box/style03/4.png" alt="" height="161" width="270"></a>
					</figure>
					<div class="details text-center">
						<h4 class="box-title">Florida</h4>
						<p class="offers-content">
							Rs. 50,000/-
						</p>

						<p class="description">
							18' Party Barge Pontoon for Rent in Cudjoe Key, Florida!!!
						</p>

					</div>
				</li>
				<li class="box">
					<figure>
						<a class="hover-effect popup-gallery" href="listing.php" title=""><img src="catalog/view/boat_data/images/shortcodes/image-box/style03/1.png" alt="" height="161" width="270"></a>
					</figure>
					<div class="details text-center">
						<h4 class="box-title">
							India
						</h4>
						<p class="offers-content">
							Rs. 50,000/-
						</p>

						<p class="description">
							18' Party Barge Pontoon for Rent in Cudjoe Key, Florida!!!
						</p>

					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="global-map-area section parallax" data-stellar-background-ratio="0.5" style="background: 50% -12.0469px rgb(45 209 231 / 11%);">
	<div class="container">
		<div class="description text-center">
			<h1 style="color: #000000a3;">
				Featured Experiences
			</h1><br>
		</div>
		<div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
			<ul class="slides image-box style9">
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/photo/1.jpg" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Captained Bowrider in Miami Beach
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/photo/2.jpg" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Sailing on a Catamaran in Colombia
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/photo/3.jpg" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Designer Ultra Luxury Yacht in California
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/photo/4.jpg" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Yacht Cruising in Miami Bay for 9 guests
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/photo/5.jpg" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Wakeboarding and Tubing on Lake Travis
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/photo/6.jpg" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Sport Yacht Private Charter in Nassau
							</h4>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="listing.php" title="" class="hover-effect yellow"><img src="catalog/view/boat_data/photo/7.jpg" alt="" width="170" height="161"/></a>
						</figure>
						<div class="details">
							<h4 class="box-title">
								Whale Watching in Cabo San Lucas
							</h4>
						</div>
					</article>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="global-map-area section parallax" data-stellar-background-ratio="0.5">
	<div class="container description text-center">
		<h1>How FindBoat Works?</h1>
		<br>
		<div class="travelo-process">
			<img src="catalog/view/boat_data/photo/findboat.png" alt="">
			<div class="process first icon-box style12">
				<div class="details animated" data-animation-type="fadeInUp" data-animation-delay="1">
					<h4>Explore Destinations</h4>
					<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="icon-wrapper animated" data-animation-type="slideInLeft" data-animation-delay="0">
					<i class="soap-icon-beach circle"></i>
				</div>
			</div>
			<div class="process second icon-box style12">
				<div class="icon-wrapper animated" data-animation-type="slideInRight" data-animation-delay="1.5">
					<i class="soap-icon-availability circle"></i>
				</div>
				<div class="details animated" data-animation-type="fadeInUp" data-animation-delay="2.5">
					<h4>Check Availability</h4>
					<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
			<div class="process third icon-box style12">
				<div class="icon-wrapper animated" data-animation-type="slideInRight" data-animation-delay="2">
					<i class="soap-icon-stories circle"></i>
				</div>
				<div class="details animated" data-animation-type="fadeInUp" data-animation-delay="3">
					<h4>Book Online</h4>
					<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
			<div class="process forth icon-box style12">
				<div class="details animated" data-animation-type="fadeInUp" data-animation-delay="4.5">
					<h4>Get Ready to Boat
					</h4>
					<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="icon-wrapper animated" data-animation-type="slideInLeft" data-animation-delay="3.5">
					<i class="soap-icon-cruise circle"></i>
				</div>
			</div>
		</div>
	</div>
</div>
